---
layout: default
permalink: /translations
---

{% for category in site.categories %}
  {% if category[0] == 'translations' %}
    <ul>
        {% for post in category[1] %}
        <li>
            <p>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </p>
            
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}

<i>Также читайте мои переводы на русскоязычной странице <a href="https://vxug.fakedoma.in/translations.html">VX underground (сайт доделают уже очень скоро)</a></i>